/**
 * NOTE: As the page styles seem to load quite late, add html tag prefix to be
 * more specific so as to override page CSS.
 */

/* ================ */
/* About these "none" styles:
 *
 * The original code has its own "scrollTo" method for url hash, the "none"
 * styles change the layout and make this scrolling fail. Disable but still keep
 * the code here, as I believe it has taken quite a while to locate the cause
 * and we might come across such problems a lot (a lot of navigations are
 * customized).
 *
 * I believe the cause is "scrollTo" is scrolling the whole html....
 */
none html._mobile {
  overflow: hidden;
}

none html._mobile ._app {
  overflow: hidden;
  /* NOTE: on desktop the bottom has a banner displaying link info, which obscures
the last item. */
  /* TODO Temp fix: refer to original desktop version to fine-tune scroll behavior.*/
  padding-bottom: 20px;
}

none html._mobile ._sidebar,
none html._mobile ._content {
  overflow-x: auto;
  overflow-y: auto;

  /* TODO file a bug in the upstream, ._container has been set with border-box but
not ._sidebar, so when setting height: it's hard to get the value right (the
paddings and margins are set.

NOTE: With default content-box, the height CSS property specifies the height of
the content area of an element. The content area is inside the padding, border,
and margin of the element.) */
  box-sizing: border-box;

  /* TODO adapt with window size */
  height: 100%;
}

/* ================ */
/* stylish scrollbar: copied from '._sidebar::' */

html._mobile::-webkit-scrollbar-button {
    display: none;
}

html._mobile::-webkit-scrollbar-track {
    background: #fff;
}
html._mobile::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
}
html._mobile::-webkit-scrollbar-thumb {
    min-height: 2rem;
    background: #d2d2d2;
    background-clip: padding-box;
    border: 3px solid #fff;
    border-radius: 5px;
}

/* ================================================================ */
html._mobile ._content:focus {
  /* disable user-agent outline style */
  outline: none;
}

/* make ._list-reveal show up when hoverred over */
/* TODO however the reveal list is problematic(upstream) in mobile view,
clicking on it would jump to article and the list, though available, it's scroll
down some lines.*/
._list-item:hover > ._list-reveal {
  display: block;
}

._list-item:hover > ._list-reveal::before {
  background: rgba(58, 29, 29, 0.9);
  box-shadow: 0 -3px rgba(58, 29, 29, 0.9), 0 3px rgba(58, 29, 29, 0.9);
}

/* Customization */
/* give visual feedbar when mouse hover on entries*/
/* todo upstream? */
._list-item:hover {
  background-color: #e7f8e1;
}
